body {
    background:black;
}

.jumbotron {
    background: teal;
}

h1 {
    color: black;
}

.mainPageBtn {
    color: white;
    background: rgb(41, 2, 41);
}

.mainPageBtn:hover {
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(5, 85, 85);
}

.header {
    border-radius: 10px;
    background: yellowgreen;
}

.contents {
    background: rgb(0, 3, 158);
    border-radius: 5px;
    border: solid 2px lightskyblue;
}

.contents:hover {
    background: lightskyblue;
    transition: 0.5s;
}

.guideHeader {
    color: black;
}

.codeHeader {
    background: rgb(11, 88, 88);
    color: rgb(214, 236, 255);
    border-radius: 15px;
    border: solid 2px rgb(214, 236, 255);
}

#beforeStarting {
    color: yellowgreen;
    font-size: 20px;
}

.intro {
    background: rgb(26, 130, 172);
    border-radius: 70px;
    width: 70%;
}

#hexInfo {
    background: rgb(18, 44, 25);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: solid 5px rgb(33, 6, 77);
}

.example {
    color: rgb(139, 226, 226);
    font-weight: bold;
}

a {
    color: rgb(139, 226, 226);
}

a:hover {
    color: rgb(221, 243, 28);
}

.subTab {
    background:rgb(20, 240, 240);
    color: rgb(4, 5, 44);
    width: 40%;
    border-radius: 30px;
    border: solid rgb(0, 3, 158);
}

.subTab:hover {
    background:rgb(136, 236, 161);
    transition: .5s;
}

.tabMargin {
    margin-bottom: -11px;
}

.thirdTab {
    margin-bottom: -8px;
}

#tvaHexFormat {
    background: rgb(33, 6, 77);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: solid 5px rgb(18, 44, 25);
}

.firstDiv {
    color: rgb(231, 169, 169);
    font-weight: bold;
}

.secondDiv {
    color: rgb(41, 121, 212);
    font-weight: bold;
}

.thirdDiv {
    color: rgb(137, 241, 77);
    font-weight: bold;
}

.forthDiv {
    color: rgb(247, 181, 58);
    font-weight: bold;
}

.headerTab {
     margin-top: 8px;
}

.header1 {
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}
/* Consider whether the dates of each post are needed */
/* Think about background colors more */

.subheader1 {
    font-size: 16px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.hexPosts1 {
    background: rgb(121, 187, 165);
    border-radius: 5px;
}


.subdivision1 {
    font-weight: bold;
    color: rgb(4, 5, 44);
}

.arrow1 {
    color: rgb(19, 32, 27);
    font-weight: bold;
}

.answer1 {
    color: rgb(4, 5, 44);
}

.hexPosts2 {
    background: rgb(3, 48, 34);
    border-radius: 5px;
}

.header2
{
    font-size: 22px;
    color: aliceblue;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

.subheader2 {
    font-size: 16px;
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}

.subdivision2 {
    font-weight: bold;
    color: rgb(195, 208, 245);
}

.arrow2 {
    color: rgb(192, 165, 209);
    font-weight: bold;
}

.answer2 {
    color: rgb(195, 208, 245);
}

#wetLoki {
    width: 35%; 
    /* Fix the formatting */
}

.topbtn {
    margin-top: 20px;
    background: rgb(195, 208, 245);
    font-family: "Lucida Console", "Courier New", monospace;
}

#byeLoki {
    margin-top: 5px;
    width: 55%;
}

.baseIntro {
    background: yellow;
    border-radius: 70px;
    width: 70%;
}

#baseInfo {
    background: rgb(4, 6, 128);
    color: black;
    font-size: 20px;
    border-radius: 15px;
}

.codeIntro {
   color: white; 
}

.baseChart {
    width: 70%;
}

.baseLength {
    color: rgb(46, 190, 135);
    font-weight: bold;
}

.baseTranslate {
    color: rgb(46, 190, 135);
    font-weight: bold;
}

.basePost1 {
    background: rgb(20, 240, 240);
    border-radius: 25px;
}

.baseCode1 {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.baseDate {
    font-size: 18px;
    color: rgb(35, 6, 43);
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

.bold {
    font-weight: bold;
}

.interrupt {
    background: yellow;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 5px;
    width: 50%;
}

.convoIntro {
    background: rgb(41, 2, 41);
    color: white;
    border-radius: 5px;
}

.tvaPart {
    background: rgb(134, 3, 3);
    color: black;
    font-size: 16px;
    border-radius: 5px;
}

.agentsPart {
    background: grey;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}

.convoExplain {
    background: rgb(41, 2, 41);
    color: white;
    border-radius: 5px;
}

.boldAnswer {
    font-weight: bold;
    color: aliceblue;
}

.convoLink {
    color: white;
}

.explainBorder {
    border: solid 2px rgb(99, 99, 255);
    border-radius: 5px;
}

.convoBorder {
    border: solid 2px rgb(99, 99, 255);
    border-radius: 5px;
}

.basePost2 {
    background: rgb(3, 41, 41);
    border-radius: 25px;
    color: black;
}

.baseCode2 {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.baseDate2 {
    font-size: 18px;
    color: rgb(35, 6, 43);
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

#burnImage {
    width: 75%;
}